@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="fs-1 fw-medium">Welcome</h1>
</div>

<div class="alert alert-info" role="alert">
    This Website is currently under construction.
</div>
